/* *{
    margin: 0;
    padding:0;
} */


h3 {
    color: wheat;
    /* background-color: cyan; */
}

.owners {
    line-height: 1em;
}

body {
    background-color: rgb(233, 215, 181);

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;

    

}

.container{
    width:80%;
    margin:auto;
}

.box-1 {
    background-color: white;
    padding: 20px;
    border: 3px dotted #ccc;
    margin: 20px 0;    
}

/* .owner-list {
    display: flex;
} */


.box-1 h1 {
    text-align: center;
}

.my-form {
    padding:20px
}

.my-form input {
    padding: 8px;
    width: 50%;

}


