h1 {
    
}

h3 {
    color: wheat;
    /* background-color: cyan; */
}

body {
    background-color: darkcyan;

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;

}

.container{
    width:80%;
    margin:auto;
}